{{define "duty_list_item"}}
{{$group := index .Groups .Occurrence.GroupID}}
<a href="/duties/{{.Occurrence.ID}}" style="display:block" class="{{if isPast .Occurrence.Date}}past{{end}}">
  <div class="occ-item">
    <div class="occ-info">
      <div class="occ-title">
        <span class="occ-status-dot {{.Occurrence.Status}}"></span>
        {{.Occurrence.Title}}
        {{if $group.ID}}<span class="badge {{if $group.Color}}badge-group-{{$group.Color}}{{else}}badge-accent{{end}}">{{$group.Name}}</span>{{end}}
        {{if not .HideDetails}}{{if .Occurrence.RecurrenceID}}<span class="badge badge-blue">{{t .Lang "occ.recurring"}}</span>{{end}}{{end}}
        {{if isPast .Occurrence.Date}}<span class="badge badge-gray">{{t .Lang "occ.past"}}</span>{{end}}
        {{if not .HideDetails}}
          {{if eq .Occurrence.Status "under"}}<span class="badge badge-red">{{t .Lang "occ.needsPeople"}}</span>
          {{else if eq .Occurrence.Status "good"}}<span class="badge badge-green">{{t .Lang "occ.filled"}}</span>
          {{else if eq .Occurrence.Status "over"}}<span class="badge badge-yellow">{{t .Lang "occ.overStaffed"}}</span>{{end}}
        {{end}}
      </div>
      {{if not .HideDetails}}{{if .Occurrence.Description}}<div class="occ-desc">{{.Occurrence.Description}}</div>{{end}}{{end}}
    </div>
    <div class="occ-meta">
      <div class="occ-date">{{formatDate .Occurrence.Date}}</div>
      <div class="occ-slots">{{weekdayT .Lang .Occurrence.Date}} &middot; {{relativeDay .Lang .Occurrence.Date}}</div>
      <div class="occ-slots">{{.Occurrence.ParticipantCount}}/{{.Occurrence.MinParticipants}}&#8211;{{.Occurrence.MaxParticipants}} {{t .Lang "occ.people"}}</div>
    </div>
  </div>
</a>
{{end}}
