{{define "password_toggle"}}
<button type="button" class="password-toggle" data-password-toggle data-show-text="{{t .Lang "password.show"}}" data-hide-text="{{t .Lang "password.hide"}}" data-show-label="{{.ShowLabel}}" data-hide-label="{{.HideLabel}}" aria-controls="{{.Controls}}" aria-label="{{.ShowLabel}}" aria-pressed="false" title="{{.ShowLabel}}">
  <span class="password-toggle-icon password-toggle-icon-show">{{template "icon-eye" .}}</span>
  <span class="password-toggle-icon password-toggle-icon-hide">{{template "icon-eye-off" .}}</span>
  <span data-password-toggle-text>{{t .Lang "password.show"}}</span>
</button>
{{end}}
